doctype html
html
  head
    title= title
    //Einbinung der js-Dateien zum loggen
    script(src='/javascripts/jsnlog.min.js')
    script(src='/javascripts/script.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
